body {
    background-color:white;
}

#movie-poster {
    display: inline-block !important;
}

.myform {
    display: inline-block !important;
    background-color: white;
}

.poster{
    text-align: center;
}

.titleColor {
   
    color: #666666 !important;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    padding: 0px;
   
}
.latestText{
    font-weight: 700;
    font-style: italic;
}

.mainTitle{
    margin: 0px !important
}

.titleColor{
    padding: 0px;
    margin: 5px;
}

input{
background-color: white !important;
}
.blog{
    padding-top: 25px;
}

.titleColor:hover {
    color: #009688 !important;
}
.reviewText{
    font-weight: bold;
    margin: 0px;
}
.movieCards{
    padding: 10px !important;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.card-image:hover .image {
    opacity: 0.3;
  }
  
  .card-image:hover .middle {
    opacity: 1;
  }
  


.myToast {
    background-color: #DC143C !important;
    color: black;
    font-weight: 700;
    font-size: larger;
    text-align: center !important;
}

.successToast {
    background-color:#05a322 !important;
    color: black;
    font-weight: 300;
    font-size: larger;
    text-align: center !important;
}

.passwordToast {
    background-color: #ffa200 !important;
    color: black;
    font-weight: 400;
    font-size: larger;
    text-align: center !important;
}

.myText {
    background-color: white;
    margin-right: 250px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 100px;
    border-width: 0.2px;
    border-style: solid;
    border-color: gray;
    border-top: none;
    border-radius: 10px;
}

.input-field {
    top: 10px !important;
}

.movie {
    text-align: center;
}


/*star style*/

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

#movie-input {
    margin-left: 5px;

}

.searchDiv{
    padding: 0px !important;
}


/*star style end*/
.topRatedFilms {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    font-weight: 900;
    font-style: italic;
    padding-left: 25px;

}

@media screen and (max-width: 600px) {
    .topRatedFilms {
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-size: medium;
        font-weight: 900;
        font-style: italic;
    }
  }

nav {
    background-color: #2d2e2d;
}

.posterContainer {
    padding: 0px !important;
    width: 100% !important;
    text-align: center !important;
}


.blogContainer {
    display: none;
    background-color: white;
}

.reviewContainer {
    display: none;
    padding: 10px 25px 25px 20px;
    border: 2px;
    background-color: white;
}


/*Login Modal*/

.modal {
    max-height: 100%;
    overflow: hidden;
}

.model-close {
    margin-bottom: 10px;
    margin-left: 20px;
}

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #009688;
}
/*Login Modal end*/